.product-card {
    width: 200px;
    padding: 8px; /* Reduced padding for a more compact look */

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .buy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }
